* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --cor-primaria: #987DE8;
  --cor-destaque: #5B4B8B;
  --cor-detalhe-acao:white;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header strong{
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  color:  rgba(91, 75, 139, 0.85);
  align-self: flex-start;
  margin-top: 1.5rem;
}

header #connected-account{
  margin-right: 3rem;
  font-size: 2rem;
}

nav {
  background-color: #987DE8;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #fff;
  font-size: 2rem;
}

nav a:hover {
  color: #fff;
}

nav .notActivePage {
  color: rgba(125, 125, 125, 0.7);
  transition: color 0.5s;
}

nav .notActivePage:hover {
  color: #fff;
}

.back-cor-destaque{
  background: var(--cor-destaque);
}

#titlesGrid, #productsGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-items: center;
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.titleTemplate {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #987DE8;
  border-radius: 5px;
  color: #fff;
  padding: 2rem;
  font-size: 1.8rem;
}

.titleTemplate .header {
  border-bottom: 1px solid #fff;
  text-align: center;
  padding: 1rem;
  margin: 0 2.5rem;
}

.titleTemplate .header strong {
  font-weight: 500;
}

.titleTemplate .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3rem;
  margin-top: 2rem;
}


.titleTemplate button {
  background-color: #5B4B8B;
  border: 0;
  padding: 1.25rem;
  width: 90%;
  margin: 2rem auto 0;
  border-radius: 5px;
}

.change-availability {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
}

.buttonIcon {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
}

#container{
  margin: 115px auto;
}

#container .product{
  background: var(--cor-primaria);
  padding:25px 40px;
  margin-bottom: 10px;
  text-align: center;
  font-size:20px;
  line-height: 34px;
  color:var(--cor-detalhe-acao);
}

#container .product header{
  border-bottom: 1px solid var(--cor-detalhe-acao);
  display:block;
  margin-bottom:25px;
  font-size:20px;
  text-align: center;
  text-transform: uppercase;
}

#container .product button{
  font-weight: bold;
  margin-top:30px;
}